<section class= "container my-3">
    <h1 class="text-center"> Shopping List</h1>
    <div class="d-flex justify-content-center  gap-8 p-5 my-5 bg-light">
         <div class="w-50">
             <h4 class="text-center"> Amount of food items to buy: </h4>
             <h4 class="text-primary text-center" ><%= @amount_of_food %> </h4>
         </div>
        <div class="w-50">
        <h4 class="text-center" > Total amount of food needed: </h4>
        <h4 class="text-primary text-center" ><%= @total %> </h4>
        </div>
        
    </div>

    <table class="table table-bordered table-hover bs">
      <thead class='bg-light'>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Food</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <% if @recipe_foods_arr.empty? %>
          <tr>
            <td rowspan='4'><i>No recipes</i></td>
          </tr>
        <% else %>
          <% @recipe_foods_arr.each_with_index do |recipe, i| %>
            <tr>
              <th scope="row"><%= 1 + i %></th>
              <td><%= recipe.food.name%></td>
              <td><%= recipe.food.quantity %></td>
              <td> <%= '$'+(recipe.food.price * recipe.quantity).to_s %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

</section>
