<section class="container">
<%= button_to 'Add recipe', new_user_recipe_path(:user_id), method: :get, class: "btn" %>
<% if @recipes.any? %>
<% @recipes.each do |recipe| %>
  <div class="recipe-card">
    <div class="index-links">
      <div class="recipe-name"><b><%= recipe.name.upcase %></b></div>
      <%= button_to 'REMOVE', "users/#{current_user.id}/recipes/#{recipe.id}", method: :delete, class: "btn" %>
    </div>

    <div class="index-desc">
       Description of <%= recipe.name %>
       <hr /><br />
      <p><%= recipe.description %></p>
    </div>
  </div>
  <% end %>
  <% end %>
</section>
